
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fa437d;
    font-size: 17px;
    line-height: 1.5;
    color: #66102e
}

p, h1, h2, h3 {
    margin: 0 0 10px;
    padding: 0;
}

h2 {
    font-size: 3em;
    color:#fa437d;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s; 
}

header ul li a:hover,
header ul li a.active { 
    background: #fff;
    color: #fa437d;
}

header i{
    margin-right: 10px;
}
header ul li a:hover {
    background-color: #fff;
    color: #fa437d;
}

section{
    position: relative;
    width: 100%;
    height: 125vh;
    padding: 100px;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: auto;
}

section img #cfront{
    z-index: 10;

}

#content{
    position: relative;
    display: grid;
    justify-items: center;
    padding: 100px;
    background: #fff;

}

#about{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
#aboutmetext{
    flex: 1;
    max-width: 400px;
    min-width: 250px;
}

#aboutimg{
    width: 80%;
    max-width: 500px;
    min-width: 200px;
}

.work .gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    min-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.work .image {
    width: 250px; 
    margin: 10px;
    border-radius: 20px;

    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.work .image:hover {
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(102, 16, 46, 0.3);
}

.work .image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fa437d;
    padding: 6px 15px;
    border: none;
    border-radius: 20px;
    transition: transform 0.2s, background-color 0.3s, color 0.3s; 
}

.button i {
    margin-right: 10px;
    color:#fff;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #ff4db6;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(102, 16, 46, 0.3);
}

#contact {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background-color:#fa437d;
    width: 95%; 
    border-radius: 30px;
    margin: 0 auto;
    padding: 40px;  
}

#contact h2, #contact p {
    color: #fff;
}

#contact i{
    margin-right: 10px;
}

#contact ul li{
    list-style: none;
    margin-left: 20px;
    padding: 20px ;
}

#contact ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    outline: 1px solid;
    transition: background-color 0.3s, color 0.3s; 
}

#contact ul li a:hover {
    background-color: #fff;
    color: #fa437d;
    outline: 2px solid;
}

#contactinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contactform {
    flex: 1;
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(102, 16, 46, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 6px;
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #fa437d;
    border-radius: 20px;
    color:#66102e;
  }
  
  input:focus, form textarea:focus {
      border-color: #ff4db6; 
      color: #ff4db6;
  
      outline: 2px solid;
    
  }
  
  textarea {
    resize: vertical;
  }
  
  form label i {
      margin-right: 8px;
  }
  form input::placeholder,
  form textarea::placeholder {
      color: #ff4db6;
  }
  form button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #fa437d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  
  form button:hover {
      background-color: #ff4db6;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(102, 16, 46, 0.3);
      transition: transform 0.2s, background-color 0.3s, color 0.3s;
  }

footer {
    background-color:#fa437d;
    padding: 20px;
    color:#fff;
    text-align: center;
}

footer img {
    height: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');